<div>
  <input class="timerInput" type="text" [(ngModel)]="timerTime" (focus)="timerTime = ''" (blur)="setTimerTime()" />
  <button class="custom-button" type="button" (click)="tmrGen()" style="margin-left: 10px;">Create Timer</button>
  <button class="custom-button" type="button" (click)="clkGen()" style="margin-left: 10px;">Create Clock</button>
</div>
<div *ngIf="getListLength() > 0">
  <ul style="list-style: square;">
    <li>Right Click on Clock/Timer to delete!</li>
    <li>Single Click on Timer to pause!</li>
  </ul>
</div>
<div style="display: flex; margin-top: 10px; overflow: scroll; padding:10px;">
  <!-- <span class="clkTmr" *ngFor="let tmrClkObj of tmrClkList" [id]="tmrClkObj.id"> -->
  <span class="clkTmr" *ngFor="let key of getList()" [id]="key" (click)="clickItem(key)" (contextmenu)="deleteItem(key)">
    <!-- {{ tmrClkObj.id | async}} -->
    {{ tmrClkList[key]['obsev'] | async}}
  </span>
</div>
<div style="display: flex; margin-top: 10px;" *ngIf="getDoneListLen() > 0">
  <button class="custom-button" type="button" (click)="cleanUp()">Clear Completed Timers</button>
</div>
